<div class="">    
    <a href="/" class="brand-logo">
        <%= image_tag "logo-menu.png", :class => "style_logo",style:"width:50%; height: 50px; margin-top: -20px; margin-left: 20%;"  %>            
    
    </a>
</div>