<div class="row">
  <div class="col s12 m12">
    <div class="card"style="margin-top:2%; width:96%; margin-left:2%; margin-right:2%;">
      <div class="card-header">
        <h6 style="margin-left:1%; margin-top:1%; font-family: FuturaStd Medium;">Bancos registradas en sistema</h6>
        <div class="row">
          <div class="col s12 m10"></div>
            <div class="col s12 m2"> 
                <a class=" modal-trigger" style=" margin-bottom: 10px;" href="/admin-insurances/new">
                <i class="material-icons">add_circle</i>
                Seguro
                </a>
            </div>
        </div>  
      </div>
      <div class="card-content">
        <table  id="DataTableId" style="width:100%">
            <thead>
              <tr>
                <th scope="col" style="font-family: FuturaStd Medium;">ID</th>
                <th scope="col" style="font-family: FuturaStd Medium;">Seguro</th>
                <th scope="col" style="font-family: FuturaStd Medium;"></th>
              </tr>
            </thead>
            <tbody>
              <% @insurances.each do |insurance| %>
                <tr>
                  <td style="font-family: FuturaStd Medium;"><%= insurance.id  %></td>
                  <td style="font-family: FuturaStd Medium;"><%= insurance.name  %></td>
                  <td style="font-family: FuturaStd Medium;">
                    <a class=" modal-trigger" style=" margin-bottom: 10px;" href="/admin-insurances/edit/<%= insurance.id  %>" >
                      <i class="material-icons">edit</i>
                      Editar
                    </a>
                  </td>
                </tr>
              <% end %>                
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>