<div class="row">
    <div class="col s12 m4">
      <div class="card" style="width: 96%; margin-left:2%; margin-right:2%; margin-top:5%;">
        <div class="card-header">
            <span style="margin-left:2%; margin-top:2%;">Total de Casos Trabajados</span>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12">
                    <h3 style="margin-top:0px; margin-bottom:0px;"># <%=  @doctor_appointments.length %></h3>    
                </div>
            </div>
        </div>
    </div>
</div>