<div class="row">
    <div class="col s12 m12">
        <div style="width: 96%; margin-left: 2%; margin-right: 2%">
            <ul class="collapsible"> 
                <li>
                    <div class="collapsible-header">
                    <i class="material-icons">show_chart</i>
                            <p style="font-family: FuturaStd Medium; padding:0px;">Distribución de Pacientes Según Diagnóstico</p>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m12">
                                <%= column_chart(@patient_per_diagnostic)%>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col s12 m10"></div>
                            <div class="col s12 m2">
                                <a href="/statistics-pacientes-por-diagnostico">Mostrar Detalle</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>