
<div class="container center-align">
    <h5>Doctores disponibles</h5>
    <table  id="DataTableId">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Juan</td>
                <td><i class="material-icons green-text" >brightness_1</i></td>
                <td><a href="/messages/patient">Iniciar Consulta</a></td>
            </tr>
        </tbody>
    </table>
</div>