<%- if current_user.doctor%>
    <%= render 'filters/filter_date_for_grafics', object: @doctor_appointments%> 
    <%= render 'grafics/insured_patient_vs_particular', object: @totalPatients %>  

       
<%else %>
    <nav style="background: #EE6E73; width: 80%; margin-left: 10%; margin-right: 10%">
        <div class="nav-wrapper" style="background: #EE6E73;">
            <p style="text-align:center; color:#039be5; font-family: FuturaStd bold; color: white;"> Cargue su información de perfil antes de continuar.</p>
        </div>
  </nav>
<%end %>



