<h4>Password Reiniciado</h4>
<p>Su password ha sido reiniciado por uno generico, por favor recuerde cambiar su password una vez que inicie sesión</p>
<p>Su nuevo password es: <%=  @new_passwrod %> </p>